################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BagsKataDotNet/.vs/BagsKataDotNet/v16
/BagsKataDotNet/BagKata/obj
/BagsKataDotNet/BagKata.Test/bin/Debug/netcoreapp3.1
/BagsKataDotNet/BagKata.Test/obj
/BagsKataDotNet/BagKata/bin/Debug/netcoreapp3.1
/BagsKataDotNet/.vs/BagsKataDotNet/DesignTimeBuild/.dtbcache.v2
/BagsKataDotNet/.vs/BagsKataDotNet
/BagsKataDotNet/BagKata.Test/bin/Release/netcoreapp3.1
